.subtitle {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.activity-container {
  display: flex;
  align-items: center;
  margin-right: 30px;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.activity-list-items {
  width: 1170px;
  list-style-type: none;
  margin-right: 30px;
  position: relative;
}

.activity-overlay {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color-footer);
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-right: 82px;
  padding-bottom: 27px;
  padding-left: 83px;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
}

.section-2 {
  padding-bottom: 94px;
}
