.contacts-items {
  text-decoration: none;
  list-style-type: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  color: var(--text-color);
  text-decoration: none;
  list-style-type: none;
  width: 135px;
  margin-right: 0px;
  display: flex;
  align-items: center;
}

/* ---phone header(hover/focus)--- */
.contacts-items:hover {
  color: var(--logo-color-main);
}

.contacts-items:hover .icon-phone {
  fill: var(--logo-color-main);
}

.contacts-items:focus {
  color: var(--logo-color-main);
}

.contacts-items:focus .icon-phone {
  fill: var(--logo-color-main);
}

/* ---mail header(hover/focus)--- */
.contacts-items:hover {
  color: var(--logo-color-main);
}

.contacts-items:hover .icon-mail {
  fill: var(--logo-color-main);
}

.contacts-items:focus {
  color: var(--logo-color-main);
}
.contacts-items:focus .icon-mail {
  fill: var(--logo-color-main);
}
.contacts-list-items:not(:last-child) {
  margin-right: 50px;
}

.contacts-list-items {
  display: flex;
  align-items: center;
}
.icon-phone {
  display: flex;
  align-items: center;
  align-items: baseline;
  margin-right: 10px;
  fill: #2a2a2a;
}

.icon-mail {
  display: flex;
  align-items: center;
  margin-right: 10px;
  fill: #2a2a2a;
}
