.page-header span {
  color: var(--logo-color-main);
}

.page-header {
  border-bottom: 1px solid var(--border-line-color);
}

.header-block {
  display: flex;
  align-items: center;
  background: var(--logo-color-footer);
}
