.logo-footer {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: bold;
  color: var(--logo-color-footer);
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo {
  width: 145px;
  margin-top: 25px;
  margin-bottom: 24px;
  margin-right: 93px;
  font-family: "Raleway";
  font-weight: bold;
  color: var(--logo-color-header);
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
