.team-section {
  background-color: var(--team-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.subtitle {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.subtitle-2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.team-group {
  display: flex;
}
.list-items {
  width: 270px;
  list-style-type: none;
  margin-right: 30px;
}

.list-items:last-child {
  margin-right: 0px;
}

.personal-information {
  background-color: var(--logo-color-footer);
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  border-bottom: 1px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.headline-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.text-position {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  padding-top: 10px;
}

.socials-item-link {
  border-radius: 50%;
  display: block;
  display: flex;
  align-items: center;
  background-size: cover;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-logo {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  padding: 12px;
}

/* ---Social-link our team (hover/focus) --- */

.socials-item-link:hover {
  background-color: var(--logo-color-main);
}

.socials-item-link:hover .link-logo {
  fill: var(--logo-color-footer);
}

.socials-item-link:focus {
  background-color: var(--logo-color-main);
}

.socials-item-link:focus .link-logo {
  fill: var(--logo-color-footer);
}

/* ---END Social-link our team (hover/focus) --- */
